<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('./partials/links.ejs') %>

</head>

<!-- Partial de HEADER -->
<%- include('./partials/header.ejs') %>

  <body>
    <!-- Aqui empieza la barra de navegacion -->

    <div class="container">
      <main class="main">
        <section class="section">
          <div class="section-div">
            <h1 class="section-div-h1">
              Tienda online de Laptops <br> encuentra aca los mejores precios en las
              mejores marcas para gaming
            </h1>
          </div>
        </section>
        <div class="banner--home">
          <!-- <img class="imagen-banner" src="https://storage-asset.msi.com/global/picture/news/2019/nb/gs75-20190107-1.jpg" alt="banner--home"> -->
        </div>
        </section>

        <section class="all-productos">
          <h1 class="conoce">Conoce nuestros productos</h1>
          <div class="productos-filtro">

            <div class="filtro-home mensaje">AQUI VA UN FILTRO</div>

            <div class="productos">

              <% productosVista.forEach( function(productoVista){ %>

              <article class="articulo-main">
                <div class="imagenproducto-container">
                  <a title="Producto" href="/productDetail/<%= productoVista.id %>"><img src="/profileimages/<%= productoVista.image %>"
                      alt="laptop" class="imagen-producto" /></a>
                  <h2 class="descripcion">
                    <%= productoVista.name %>
                  </h2>
                  <div class="flechas">
                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">
                        <%= productoVista.gpu %>
                      </p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">
                        <%= productoVista.resolucion %>
                      </p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">
                        <%= productoVista.cpu %>
                      </p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">
                        <%= productoVista.ram %>
                      </p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">
                        <%= productoVista.storage %>
                      </p>
                    </div>

                    <div class="precio--boton">
                      <p class="precio">
                        <%= productoVista.price %>
                      </p>
                      <div class="boton--carrito">
                        <input class="boton--" type="button" value="Agregar al carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </article>

              <% }) %>
            </div>
          </div>
          <p class="mensaje">AQUI IRIA UN 'LOAD MORE'</p>

      </main>
    </div>

    <!-- Partial de FOOTER -->

    <%- include('./partials/footer.ejs') %>



















      <!-- Aqui esta el link del archivo Js del front end  -->

    <%- include('./partials/script.ejs') %>
  </body>

</html>
<!-- LINK IMAGEN BANNER https://www.gamerfocus.co/wp-content/uploads/2019/09/Banner-facebook030919.jpg -->