<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('./partials/links.ejs') %>
    <title>Login</title>
</head>

<!-- Partial de HEADER -->

<body class="cuentas">
  <%- include('./partials/header.ejs') %>

    <p>
      <a class="pagina_inicio" href="/index.html">Inicio</a>
    </p>
    <section class="j_contenedor_formulario">

      <h1>Ingresar</h1><br>

      <article class="j_formulario-log">

        <div>
          <% if (locals.errors && errors.email ) { %>
            <p class="flechas">
              <%= errors.email.msg %>
            </p>
            <% } %>
        
        </div>
        
        <form action="/users/login" method="POST" id="loginForm">
        
          <div>
            <label for="email">Usuario</label>
            <input class="j_entradas" type="email" name="emailLogin" placeholder="usuario@ejemplo.com" required>
            </div>
            <p class="flechas" id="errorEmailLogin" style="display:none">Debes introducir correctamente tu Email</p>
            
            <div>
              <label for="password">Contraseña</label>
              <input class="j_entradas" type="password" name="passwordLogin" required>
              </div>
            <p class="flechas" id="errorNameReg" style="display:none">Contraseña obligatoria</p>
              
              <div class="j_rec_pass">
                <label id="rp2" for="rec_Usuario">Recordar Usuario</label>
                <input id="rp1" type="checkbox" name="rec_usuario" value="rec_Usuario">
                </div>
            
                <div>
                <button class="j_boton_ingresar" type="submit" value="Login">Continuar</button>
                </div>
                  <p class="flechas" id="errorSubmitLogin" style="display:none">Revisá que tus campos sean correctos</p>
                <div class="notienesAcc">
                  ¿Aun no tienes una cuenta?
                  <a class="creaUna" href="/registro">Creá una aquí</a>
                  </div>

      </article>

        </form>

    </section>

  <%- include('./partials/script.ejs') %>

                  <!-- Partial de FOOTER -->

  <%- include('./partials/footer.ejs') %>

  <script src="/js/ValidationFormLogin.js"></script>

</body>

</html>