<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://kit.fontawesome.com/88b000fcfe.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Akshar&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Akshar&family=Changa:wght@200&family=Encode+Sans+SC:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Productos</title>
</head>

<body>
  <!-- Partial de HEADER -->
  <%- include('./partials/header.ejs') %>


    <div class="MainColNopaddRela">
      <div class="colWrapper">
        <div class="imgArticleWrapper">
          <div class="imgArticleCont">
    
          <div>
            <img src="/profileimages/<%= producto.image %>" alt="laptop" class="imagen-producto" />
            <div class="imgThumbCarr">
              <!-- aca iria tipo carrusel -->
            </div>
          </div>
    
        </div>
        <div class="prodDescWrapper">
          <div class="prodTitle">
            <h1>
              <%= producto.name %>
            </h1>
          </div>
          <div class="prodPriceCont">
            <p>
              <%= producto.price %>
            </p>
            <p>Precio especial</p>
          </div>
        </div>
        <div class="buttonSumarCartWrap">
          <div class="buttonSumarCartCont">
            <button id="buttonSumarCart">
              <span class="buttonSumarCartText">
                SUMAR AL CARRITO
              </span>
            </button>
          </div>
        </div>
    
        <div class="especWrapper">
          <div class="especificaciones">
            <p id="espec"> ESPECIFICACIONES</p>
          </div>
        </div>
    
        <div class="caractWrapper">
          <div class="caractCont">
            <p id="caractGeneralTit">CARACTERISTICAS GENERALES</p>
            <div class="caractEspecFlex">
    
            <div class="caractEspec">
              <div>Resolucion de pantalla </div>
              <div>
                <%= producto.resolucion %>
              </div>
            </div>
    
            <div class="caractEspec">
              <span>Tipo De Cpu</span>
              <span>
                <%= producto.cpu %>
              </span>
            </div>
    
            <div class="caractEspec">
              <span>Tipo De Gpu</span>
              <span>
                <%= producto.gpu %>e
              </span>
            </div>
    
            <div class="caractEspec">
              <span>Tipo</span>
              <span>Notebook</span>
            </div>
    
            <div class="caractEspec">
              <span>Bateria Extraible</span>
              <span>No</span>
            </div>
    
            <div class="caractEspec">
              <span>Memoria RAM</span>
              <span>
                <%= producto.ram %>
              </span>
            </div>
    
            <div class="caractEspec">
              <span>Capacidad de almacenamiento</span>
              <span>
                <%= producto.storage %>
              </span>
            </div>
    
            <!-- <div class="caractEspec">
              <span>Memoria Gpu</span>
              <span>6gb</span>
            </div> -->
    
            <div class="caractEspec">
              <span>Lector De Huellas</span>
              <span>No</span>
            </div>
            
            <!-- <div class="caractEspec">
              <span>Familia Del Procesador</span>
              <span>Intel Core i7</span>
            </div> -->
            </div>
            </div>
            </div>
    
      </div>
    </div>
    <%- include('./partials/script.ejs') %>
    <!-- Partial de FOOTER -->

    <%- include('./partials/footer.ejs') %>


</body>



</html>