<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://kit.fontawesome.com/88b000fcfe.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Akshar&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Akshar&family=Changa:wght@200&family=Encode+Sans+SC:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Profile</title>
</head>

<body>
  <!-- Partial de HEADER -->
  <%- include('./partials/header.ejs') %>


    <div class="MainColNopaddRela">
      <div class="colWrapper">
        <div class="imgArticleWrapper">
          <div class="imgArticleCont">

            <div>
                          <img src="/profileimages/<%= user.image %>" alt="laptop" class="imagen-perfil" />
              <div class="imgThumbCarr">
                
              </div>
            </div>

          </div>

          <div class="especWrapper">
            <div class="especificaciones">
              <p id="espec">
                <%= user.categoriaUsuario %>
              </p>
            </div>
          </div>

          <div class="caractWrapper">
            <div class="caractCont">
              <p id="caractGeneralTit">Informacion de cuenta </p>

              <div class="caractEspecFlex">


                <div class="caractEspec">
                  <div>Nombre</div>
                  <div>
                    <%= user.name %>
                  </div>
                </div>

                <div class="caractEspec">
                  <span>Apellido</span>
                  <span>
                    <%= user.lastname %>
                  </span>
                </div>

                <div class="caractEspec">
                  <span>Email</span>
                  <span>
                    <%= user.email %>
                  </span>
                </div>

                <form action="/logout" method="GET">
                  <div class="boton-profile">
                    <button class="j_boton_ingresar" type="submit" value="logout">LogOut</button>
                  </div>
<div class="boton-profile">
  <a href="/product/productAdd">LogOut</a>
</div>

                </form>



              </div>
            </div>

            <%- include('./partials/script.ejs') %>
              <!-- Partial de FOOTER -->

              <%- include('./partials/footer.ejs') %>

</body>


</html>