<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <%- include('./partials/links.ejs') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title>Registro</title>
</head>

<body>
  <!-- Partial de HEADER -->
  <%- include('./partials/header.ejs') %>

  
  <section>
    <article class="j_formulario">
      <form action="/users/register" id="registerFormulario" method="POST" enctype="multipart/form-data">
      
        <div class="divForms-1">
          <h1>Crea tu cuenta aca</h1>
        </div>
        <% if (locals.errors && errors.email) { %>
          <div class="flechas">
            <%= errors.email.msg %>
          </div>
          <% } %>
        </div>
        
            <% const isErrorsArray=Array.isArray(locals.errors) %>
              <% if (isErrorsArray && locals.errors) { errors.forEach ( error=> { %>
                <p class="flechas">
                  <%= error.msg %>
                </p>
                <% }) } %>
                
          <div class="divForms">
              <p class="flechas" id="errorInputReg" style="display:none">Revis치 que tus campos sean correctos</p>
            <label for="name">Nombre</label>
            <input class="j_entradas" type="text" id="registerName" name="nameReg" placeholder="Escribi tu nombre aqui"
              value="<%= locals.old && old.name ? old.name : '' %>">
            </div>
            <p class="flechas" id="errorNameReg" style="display:none">Nombre minimo de 2 caracteres</p>

            <div class="divForms">
              <label for="lastname">Apellido</label>
              <input class="j_entradas" type="text" id="registerLastname" name="lastnameReg" placeholder="Escribi tu apellido aqui"
                value="<%= locals.old && old.lastname ? old.lastname : '' %>">
          </div>
          <p class="flechas" id="errorLastnameReg" style="display:none">Nombre minimo de 2 caracteres</p>

          <div class="divForms">
            <label for="email">Correo electronico</label>
            <input class="j_entradas" type="email" id="registerEmail" name="emailReg" placeholder="usuario@ejemplo.com"
              value="<%= locals.old && old.email ? old.email : '' %>">
          </div>
          <p class="flechas" id="errorEmailReg" style="display:none">Debes introducir un email valido </p>
            
            
            <div class="divForms">
              <label for="Contrase침a">Contrase침a</label>
              <input class="j_entradas" type="password" id="registerPass" name="passwordReg">
          </div>
          <p class="flechas" id="errorPasswordReg" style="display:none">La contrase침a debe tener minimo 8 caracteres </p>


          <div class="divForms">
            <label for="ImagenUsuario">Imagen de Perfil</label>
            <input class="j_entradas" type="file" id="registerImage" name="imagenUsuarioReg">
            </div>
            
            <div class="divForms">
              <label for="categoriaUsuario">Seleccione tipo de usuario</label>
              <select name="categoriaUsuario" id="categoriaUsuario">
                <!-- Validacion de opciones Select -->
                <option value="Comprador" <%=locals.old && old.category==='Comprador' ? 'selected' : ' ' %>>Comprador</option>
                <option value="Vendedor" <%=locals.old && old.category==='Vendedor' ? 'selected' : ' ' %>>Vendedor</option>
              </select>
          </div>

          <div class="divForms">
            <button class="j_boton_ingresar" id="registerButton" action="submit">Continuar</button>
          </div>

      </article>

      </form>
    </section>

    <%- include('./partials/script.ejs') %>
    <!-- Partial de FOOTER -->
    
    <%- include('./partials/footer.ejs') %>
    <script src="/js/ValidationFormReg.js"></script>
</body>

</html>